#canvas {
    border: 2px solid;
    border-radius: 5%;
    /* background-color: rgb(255, 255, 255); */
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel {
    display: grid;
    width: 400px;
    height: 450px;
    margin: 20px;
}